body {
    font-family: Tahoma;
    font-size: 13px;
    width: 100%;
    margin: 0px auto;
}

#menu_top {
    height: 150px;
    float: right;
}
#menu_top ul{
    height: 50px;
    line-height: 50px;
}

#menu_top ul li{
    list-style: none;
    float: left;
    
}

#menu_top ul li a {
    text-decoration: none;
    display: block;
    height: 50px;
    line-height: 30px;
    padding: 0px 10px 0px 10px;
}



#menu_top ul li a :hover{
    text-decoration: underline;
}

#menu_top ul li img {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0px 10px 0px 10px;
}

#banner {
    text-align: center;
    clear: right;
    height: auto;
    width: 100%;
}

#banner img {
    border-bottom: 20px;
}

#search{
    text-align: center;
    height: 70px;
    line-height: 70px;
    width: 100%;
    border-bottom: 20px;
}

#search button {
    height: 50px;
    line-height: 50px;
    background-color: white;
    border-radius: 30px;
    border: 1px solid grey;
}

#search img {
    margin-bottom: -12px;
    margin-left: 10px;
    margin-right: 10px;
    height: 35px;
}


input[type=text] {
    width: 350px;
    height: 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border: none;
    outline: none;
    font-size: 16px;
}
  

#list{
    text-align: center;
    height: 70px;
    line-height: 70px;
}

#list button {
    margin-right: 10px;
    border: none; /* Remove borders */  
    padding: 10px 10px 10px 10px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    font-size: 14px;
    color: black;
    border-radius: 10px;
}

#list button a {
    color: black;
    text-decoration: none;
}

#language {
    text-align: center;
    height: 250px;
}

#end {
    height: 100px;
    background-color: rgb(227, 223, 223);
    font-size: 15px;
}

#end #country {
    color: grey;
    height: 50px;
    line-height: 50px;
    padding-left: 50px;
    border-bottom: 1px solid grey;
}

#end #other #left {
    float: left;
}


#end #other #left ul li {
    list-style: none;
    float: left;
}

#end #other #left ul li a{
    text-decoration: none;
    color: grey;
    display: block;
    height: 40px;
    line-height: 20px;
    padding: 0px 10px 0px 10px;
}

#end #other #right {
    padding-right: 20px;
    float: right;
}

#end #other #right ul li {
    list-style: none;
    float: left;
}

#end #other #right ul li a{
    text-decoration: none;
    color: grey;
    display: block;
    height: 40px;
    line-height: 20px;
    padding: 0px 10px 0px 10px;
}